/* .manage-user-container {
  overflow-y: scroll;
} */

.search-area {
  border: 1px solid black;
  padding: 10px 12px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.banner-btn {
  width: 200px;
  padding: 4px 6px;
  margin: 6px 4px;
  background-color: red;
  border-radius: 6px;
  text-align: center;
}
