.movie-schedule-content {
  margin-top: 24px;
}
.movie-schedule-content__thumb {
}
.movie-schedule-content__detail {
}

.movie-schedule-content__detail--info > h1 > a {
  font-size: 3.3rem;
  font-weight: 600;
  color: var(--primary-text-color);
}

.movie-info {
  display: flex;
  font-size: 1.6rem;
  margin-bottom: 24px;
}
.movie-category {
  padding-right: 5px;
}
.movie-duration {
  padding-left: 5px;
}

.movie-category > i,
.movie-duration > i {
  color: var(--primary-btn-color);
}

.movie-schedule-content__detail--showtime {
}

.movie-showtime {
}
.movie-showtime__heading {
  font-weight: 600;
}
.movie-showtime__list {
  margin-left: -4px;
  margin-right: -4px;
}

.movie-showtime__item {
  display: inline-block;
}
.movie-showtime__item > .time {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #e5e5e5;
  padding: 6px 24px;
  margin: 0 4px;
}

.movie-showtime__item > .seat {
  margin-top: 4px;
  width: 100%;
  font-size: 1rem;
  text-align: center;
}

.movie-showtime__item .time:hover {
  color: var(--text-hover);
  cursor: pointer;
  background-color: lightgray;
  transition: all ease-in 0.2s;
}
